body {
  min-width: 50rem;
  max-height: max-content;
  text-align: center;
  font-family: "HK Grotesk Pro", sans-serif;
  font-weight: bold;
}

.hero h2 {
  border-bottom: 2px solid rgb(34, 68, 34);
}
.villain h2 {
  border-bottom: 2px solid rgb(104, 24, 24);
}
.victim h2 {
  border-bottom: 2px solid rgb(231, 220, 58);
}
.container-fluid {
  margin: 1rem;
}
